<div class="container">
    <div class="heading" *ngIf="!showLogin">
        <h1>SignUp</h1>
        <form class="form-group" #signupform="ngForm" (ngSubmit)="SignUp(signupform.value)">
            <input type="text" class="form-input" ngModel name="name" placeholder="Enter Name"/>
            <input type="text" class="form-input" ngModel name="email" placeholder="Enter E-mail"/>
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter Password"/>
            <button class="form-button">Sign Up</button>
            <span class="link">Already have an Account? <a (click)="onlogin()" class="text">Click here</a></span>
        </form>
    </div>
</div>


<div class="container" *ngIf="showLogin">
    <div class="heading">
        <h1>Login</h1>
        <form class="form-group" #loginform="ngForm" (ngSubmit)="Login(loginform.value)">
            <input type="text" class="form-input" ngModel name="email" placeholder="Enter E-mail"/>
            <input type="password" class="form-input" ngModel name="password" placeholder="Enter Password"/>
            <button class="form-button">Login</button>
            <span class="link">New User? <a (click)="onSign()" class="text">Click here</a></span>
        </form>
    </div>
</div>